* {
    margin:0;
    padding:0;
}
.header-left img {
    object-fit: contain;
    height:80px;
    margin-left: 5px;
}
.header {
   display:flex;
   align-items: center;
   justify-content: space-between;
   border-bottom:1px solid whitesmoke;
}
.header-left {
    display:flex;
    align-items: center;
}
.header-left span {
    padding: 10px;
    cursor: pointer;
}
.header-middle {
    display:flex;
    flex:0.7;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}
.material-icons {
    color:gray;
}
.header-middle input {
    border: none;
    width:100%;
    padding:10px;
    outline: none;
    background-color: transparent;
}
.header-right{
    display:flex;
    padding-right: 20px;
}
.header-right span {
    padding:10px;
    cursor: pointer;
}
/*sidebar*/
.sidebar {
    flex:0.3;
    max-width:300px;
    padding-right: 20px;
}
.sidebar-compose {
    margin-top:15px;
    margin-left: 10px;
    margin-bottom:15px;
    text-transform: capitalize;
    color:gray;
    padding:15px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}
.sidebar-compose span {
    margin-right: 5px;
}
.sidebar-option {
    display: flex;
    align-items: center;
    height:40px;
    padding:0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color:#818181;
    cursor: pointer;
}
.sidebar-option .material-icons {
    padding:5px;
}
.sidebar-option h3 {
    flex:1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}
.sidebar-option:hover,
.sidebar-option:hover h3,
.sidebar-option:hover .material-icons,
.sidebaroption-active,
.sidebaroption-active h3,
.sidebaroption-active .material-icons {
    background-color: #fefefe;
    color:#c04b17;
    font-weight: 800;
}
.sidebar-footer {
    display: flex;
    justify-content: center;
}
.sidebar-footericons {
    margin-top: 4px;
    margin-left: 79px;
    white-space: 7%;
    cursor: pointer;
    word-spacing: 0.5rem;
}
.main-body {
    display: flex;
    height:100vh;
}
body {
    height:100vh;
    overflow-y: hidden;
}